---
import Contact from '../components/Contact.astro';
import Experiences from '../components/Experiences.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Fang Wei Jie"
  description="Fang Wei Jie's software engineering portfolio, experience, skills, projects, and contact links."
>
  <main class="select-none bg-slate-50">
    <Hero />
    <Experiences />
    <Skills />
    <Projects />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
