---
import IconLink from './IconLink.astro';
---

<section class="flex h-[60vh] items-center justify-center px-6 py-5 transition-all duration-300 ease-in-out md:px-14 xl:px-60">
  <div class="flex flex-col items-center gap-10">
    <h2 class="text-center text-5xl font-bold">Get in Touch</h2>

    <div class="flex flex-wrap justify-center gap-4">
      <IconLink href="mailto:fangweijie1123@gmail.com" icon="mail" label="Email" />
      <IconLink href="https://www.linkedin.com/in/fangweijie/" icon="linkedin" label="LinkedIn" />
      <IconLink href="/assets/files/Fang%20Wei%20Jie%20Resume.pdf" icon="description" label="Resume" />
    </div>
  </div>
</section>
