<footer class="flex flex-col items-center px-6 py-5 text-center text-sm text-gray-600">
  <p>Designed &amp; Built by Fang Wei Jie</p>
  <p>Built with Astro, Styled with Tailwind CSS</p>
  <p>Copyright © 2023 JetBrains s.r.o. PhpStorm and the IntelliJ IDEA logo are registered trademarks of JetBrains s.r.o.</p>
</footer>
