---
import IconLink from './IconLink.astro';
---

<section class="px-6 pb-16 pt-6 transition-all duration-300 ease-in-out md:px-10 xl:px-60">
  <div class="flex flex-col gap-5">
    <div>
      <p class="text-xl">Hi, my name is</p>
      <h1 class="py-3 text-3xl font-bold xl:text-6xl">Fang Wei Jie</h1>
      <p class="text-xl xl:text-2xl 2xl:w-[60%]">
        A Software Engineer working in web development. I focus on building RESTful APIs and working on web frontends, with a passion for designing clean backend systems and solving integration problems.
      </p>
    </div>

    <div class="inline-flex w-full flex-wrap gap-3">
      <IconLink href="mailto:fangweijie1123@gmail.com" icon="mail" label="Email" />
      <IconLink href="https://www.linkedin.com/in/fangweijie/" icon="linkedin" label="LinkedIn" />
      <IconLink href="/assets/files/Fang%20Wei%20Jie%20Resume.pdf" icon="description" label="Resume" />
    </div>
  </div>
</section>
