---
import { projects } from '../data/portfolio';
import ProjectCard from './ProjectCard.astro';
---

<section class="px-6 py-5 transition-all duration-300 ease-in-out md:px-14 xl:px-60">
  <h2 class="text-3xl font-bold">University Projects</h2>

  <div class="grid gap-5 py-10 lg:grid-cols-3">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
