---
import type { Skill } from '../data/portfolio';

interface Props {
  skills: Skill[];
}

const { skills } = Astro.props;
---

{
  skills.map((skill) => (
    <div class="flex items-center gap-3 p-2">
      <img class="h-8 object-contain" src={skill.link} alt={skill.name} />
      <p class="text-lg">{skill.name}</p>
    </div>
  ))
}
